OrgQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetOrgInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strOrgID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrgInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrgInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CredentialSoapHeader" type="tns:CredentialSoapHeader" />
      <s:complexType name="CredentialSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationSN" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetUserDeparment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDeparmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDeparmentResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubOrg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strOrgUnitID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubOrgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubOrgResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFatherOrgUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strOrgUnitID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFatherOrgUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFatherOrgUnitResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strOrgUnitID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubUsersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubOrgUnits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strOrgUnitID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubOrgUnitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubOrgUnitsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUsersInOrg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserCharacter">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUsersInOrgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryUsersInOrgResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrgInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrgInfo" />
  </wsdl:message>
  <wsdl:message name="GetOrgInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrgInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrgInfoCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserDeparmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDeparment" />
  </wsdl:message>
  <wsdl:message name="GetUserDeparmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDeparmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDeparmentCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSubOrgSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubOrg" />
  </wsdl:message>
  <wsdl:message name="GetSubOrgSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubOrgResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubOrgCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetFatherOrgUnitSoapIn">
    <wsdl:part name="parameters" element="tns:GetFatherOrgUnit" />
  </wsdl:message>
  <wsdl:message name="GetFatherOrgUnitSoapOut">
    <wsdl:part name="parameters" element="tns:GetFatherOrgUnitResponse" />
  </wsdl:message>
  <wsdl:message name="GetFatherOrgUnitCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSubUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubUsers" />
  </wsdl:message>
  <wsdl:message name="GetSubUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubUsersCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetSubOrgUnitsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubOrgUnits" />
  </wsdl:message>
  <wsdl:message name="GetSubOrgUnitsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubOrgUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubOrgUnitsCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:message name="QueryUsersInOrgSoapIn">
    <wsdl:part name="parameters" element="tns:QueryUsersInOrg" />
  </wsdl:message>
  <wsdl:message name="QueryUsersInOrgSoapOut">
    <wsdl:part name="parameters" element="tns:QueryUsersInOrgResponse" />
  </wsdl:message>
  <wsdl:message name="QueryUsersInOrgCredentialSoapHeader">
    <wsdl:part name="CredentialSoapHeader" element="tns:CredentialSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="OrgQuerySoap">
    <wsdl:operation name="GetOrgInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Departmen Details</wsdl:documentation>
      <wsdl:input message="tns:GetOrgInfoSoapIn" />
      <wsdl:output message="tns:GetOrgInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDeparment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get User's Departmen Details</wsdl:documentation>
      <wsdl:input message="tns:GetUserDeparmentSoapIn" />
      <wsdl:output message="tns:GetUserDeparmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubOrg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Org's All SubOrg And Users</wsdl:documentation>
      <wsdl:input message="tns:GetSubOrgSoapIn" />
      <wsdl:output message="tns:GetSubOrgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFatherOrgUnit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Org's Father Details</wsdl:documentation>
      <wsdl:input message="tns:GetFatherOrgUnitSoapIn" />
      <wsdl:output message="tns:GetFatherOrgUnitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Org's All Users</wsdl:documentation>
      <wsdl:input message="tns:GetSubUsersSoapIn" />
      <wsdl:output message="tns:GetSubUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubOrgUnits">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Org's All SubOrg</wsdl:documentation>
      <wsdl:input message="tns:GetSubOrgUnitsSoapIn" />
      <wsdl:output message="tns:GetSubOrgUnitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get User's Details</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUsersInOrg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Find User's By Condition</wsdl:documentation>
      <wsdl:input message="tns:QueryUsersInOrgSoapIn" />
      <wsdl:output message="tns:QueryUsersInOrgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrgQuerySoap" type="tns:OrgQuerySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrgInfo">
      <soap:operation soapAction="http://tempuri.org/GetOrgInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrgInfoCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDeparment">
      <soap:operation soapAction="http://tempuri.org/GetUserDeparment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserDeparmentCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubOrg">
      <soap:operation soapAction="http://tempuri.org/GetSubOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSubOrgCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFatherOrgUnit">
      <soap:operation soapAction="http://tempuri.org/GetFatherOrgUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFatherOrgUnitCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubUsers">
      <soap:operation soapAction="http://tempuri.org/GetSubUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSubUsersCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubOrgUnits">
      <soap:operation soapAction="http://tempuri.org/GetSubOrgUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSubOrgUnitsCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserInfoCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUsersInOrg">
      <soap:operation soapAction="http://tempuri.org/QueryUsersInOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryUsersInOrgCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrgQuerySoap12" type="tns:OrgQuerySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrgInfo">
      <soap12:operation soapAction="http://tempuri.org/GetOrgInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetOrgInfoCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDeparment">
      <soap12:operation soapAction="http://tempuri.org/GetUserDeparment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserDeparmentCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubOrg">
      <soap12:operation soapAction="http://tempuri.org/GetSubOrg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSubOrgCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFatherOrgUnit">
      <soap12:operation soapAction="http://tempuri.org/GetFatherOrgUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetFatherOrgUnitCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubUsers">
      <soap12:operation soapAction="http://tempuri.org/GetSubUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSubUsersCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubOrgUnits">
      <soap12:operation soapAction="http://tempuri.org/GetSubOrgUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSubOrgUnitsCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserInfoCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUsersInOrg">
      <soap12:operation soapAction="http://tempuri.org/QueryUsersInOrg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryUsersInOrgCredentialSoapHeader" part="CredentialSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrgQuery">
    <wsdl:port name="OrgQuerySoap" binding="tns:OrgQuerySoap">
      <soap:address location="http://10.123.123.125:9000/CommonService/OrgQuery.asmx" />
    </wsdl:port>
    <wsdl:port name="OrgQuerySoap12" binding="tns:OrgQuerySoap12">
      <soap12:address location="http://10.123.123.125:9000/CommonService/OrgQuery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>